@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  position: relative;
}
#cssmenu {
  width: 250px;
  border-bottom: 4px solid #CCCCCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top:2px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  display: block;
  background: url('../images/accordion/pattern.png') top left repeat;
  border: none;
  border-top: 1px solid #e2e2e2;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  text-shadow: 0 -1px 1px #CCCCCC;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 12px 10px;
}

#cssmenu > ul > li {
  background: #fefefe;
  background: -moz-linear-gradient(#fefefe 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(#fefefe 0%, #eaeaea 100%);
  background: linear-gradient(#fefefe 0%, #eaeaea 100%);
}
#cssmenu > ul > li:hover {
  background: #f9ec45;
  background: -moz-linear-gradient(#f9ec45 0%, #ea964c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9ec45), color-stop(100%, #ea964c));
  background: -webkit-linear-gradient(#f9ec45 0%, #ea964c 100%);
  background: linear-gradient(#f9ec45 0%, #ea964c 100%);
}
#cssmenu > ul > li > a {
  font-size: .9em;
  display: block;
  background: url('../images/accordion/pattern.png') top left repeat;
  border: 1px solid #e2e2e2;
  border-top: none;
  text-shadow: 0 -1px 1px #CCCCCC;
  font-weight: bold;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
  background: #f9ec45;
  background: -moz-linear-gradient(#f9ec45 0%, #ea964c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9ec45), color-stop(100%, #ea964c));
  background: -webkit-linear-gradient(#f9ec45 0%, #ea964c 100%);
  background: linear-gradient(#f9ec45 0%, #ea964c 100%);
}
#cssmenu > ul > li.has-sub > a span {
  background: url('../images/accordion/icon_plus.png') 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url('../images/accordion/icon_minus.png') 96% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  font-size: .8em;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: '\00BB';
  position: absolute;
  left: 10px;
}
#cssmenu ul ul a:hover {
}
